:root {
  --main1: #00368A;  
  --main2: #0070BA;  
  --main3: #2B88D9;  
  --main4: #940000;  
  --text-gray: #535862;
  --text-gray2: #A4A7AE;
  --text-black: #181D27;
  --text-black2: #121212;
  --main-gradient: linear-gradient(180deg, #41E0DE 0%, #0B167F 100%);
} 
@font-face {
  font-family: 'helvethaica';
  src: url('../fonts/DB-Helvethaica-X3.ttf'); 
} 
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 
body{
  font-family: "helvethaica", serif;
  font-style: normal;
  overflow-x: hidden;
}      


/* 
transition: .33s all ease-out;  
  font-family: "Noto Sans Thai", serif;
######################################################################################################
###################################################################################################### 
*/ 
 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }   
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }     
}     
 